[irc]

[irc.freenode]
Server="chat.freenode.net:6697"
Password=""
UseTLS=true
Charset=""
Nick="{{ matterbridge_nick }}"
RemoteNickFormat="<{NICK}> "

[irc.ircnet]
Server="localhost:{{ nkf_proxy_port }}"
Charset=""
Nick="{{ matterbridge_nick }}"
RemoteNickFormat="<{NICK}> "

{{ matterbridge_toml }}
