[Unit]
Description=nkf proxy
After=network.target

[Service]
ExecStart=/usr/local/bin/matterbridge -conf /etc/matterbridge.toml
Restart=always
User=nobody
Group=irc
OOMScoreAdjust=1000

[Install]
WantedBy=multi-user.target
